In [1]:
# Importing Libraries
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [2]:
# Creating MySQL server connectivity for databases
def server_connectivity(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            password = user_password
        )
        print("MySQL connection is established successfully")
    except Error as err:
        print(f"Error: '{err}'")
    return connection
# Put our MySQL passcode
pw = "1234"
# Database name
db = "bank_2"
connection = server_connectivity('localhost', 'root', pw)

MySQL connection is established successfully

In [3]:
# Creating MySQL_python
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database create successful")
    except Error as err:
        print(f"Error: '{err}'")
create_database_query = "Create database bank_2"
create_database(connection, create_database_query)

Database create successful

In [4]:
# Connect to database
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            password = user_password,
            database = db_name)
        print("MySQL connection is established successfully")
    except Error as err:
        print(f"Error: '{err}'")
    return connection

In [5]:
# Execute sql queries
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query was successful")
    except Error as err:
        print(f"Error: '{err}'")

In [6]:
create_orders_table = """
create table banks (
`SHG Loan A/c No` int primary key,
`Date of Closer` date not null,
`Name of the SHG` varchar(30) not null,
`SHG SB Account No` int not null,
`IFSC Code` int not null,
`Branch code` int);
"""
# connect to the database
connection = create_db_connection('localhost', 'root', pw, db)
execute_query(connection, create_orders_table)

MySQL connection is established successfully
Query was successful

In [7]:
insert_orders_table = """
insert into banks values
(1, '2022-05-15', 'Amba Foundation', 1077778, 1990, 1330),
(2, '2022-06-19', 'Ambe Mandal', 1087778, 1890, 1340),
(3, '2022-07-18', 'Baba Jaleswar SHG', 1097778, 1790, 1350),
(4, '2022-08-20', 'ASRLM', 1037778, 1690, 1360),
(5, '2022-09-22', 'Aastha Welfare', 1027778, 1590, 1370),
(6, '2022-10-12', 'Bhai Bhauni', 1017778, 1490, 1380),
(7, '2022-12-24', 'Chintan', 1037778, 1390, 1390);
"""
connection = create_db_connection('localhost', 'root', pw, db)
execute_query(connection, insert_orders_table)

MySQL connection is established successfully
Query was successful

In [8]:
# Reading Queries
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [13]:
# Using the select statement
q1 = """
select * from banks;
"""
connection = create_db_connection('localhost', 'root', pw, db)
results = read_query(connection, q1)
for result in results:
        print(result)

MySQL connection is established successfully
(1, datetime.date(2022, 5, 15), 'Amba Foundation', 1077778, 1990, 1330)
(2, datetime.date(2022, 6, 19), 'Ambe Mandal', 1087778, 1890, 1340)
(3, datetime.date(2022, 7, 18), 'Baba Jaleswar SHG', 1097778, 1790, 1350)
(4, datetime.date(2022, 8, 20), 'ASRLM', 1037778, 1690, 1360)
(5, datetime.date(2022, 9, 22), 'Aastha Welfare', 1027778, 1590, 1370)
(6, datetime.date(2022, 10, 12), 'Bhai Bhauni', 1017778, 1490, 1380)
(7, datetime.date(2022, 12, 24), 'Chintan', 1037778, 1390, 1390)